<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            <customFields>{"application":"com.ddiring.backend_market"}</customFields>

            <fieldNames>
                <timestamp>timestamp</timestamp>
                <levelValue>level_value</levelValue>
                <thread>thread_name</thread>
                <logger>logger_name</logger>
                <message>message</message>
            </fieldNames>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.ddiring.backend_market" level="DEBUG" />

</configuration>